.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.formBox input {
  float: left;
  width: 320px;
  height: 52px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
  box-sizing: border-box;
}

.formBox button {
  float: left;
  width: 72px;
  height: 52px;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
}

.formBox button:hover {
  background: #0b7dda;
}

.formBox::after {
  content: "";
  clear: both;
  display: table;
}
